/* @import url(//db.onlinewebfonts.com/c/bfbdc6a04609bff0d5ccdfcf6b766d95?family=Flood + Std); */
@font-face {
    font-family: Flood Std;
    src: url("../fonts/flood-std/FloodStd.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    background-color: #fff;
    color: #000;
}

ul {
    list-style: none;
}

a {
    color: #354463;
    text-decoration: none;
    display: block;
}

/*##################################
    INDEX PAGE STYLES
####################################*/

.container {
    width: 100%;
    margin: 0 auto;
}

/* Navigation bar Style */
#navbar {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0;
    width: 80%;
    margin: 0 auto;
}

#navbar .title {
    width: 14vw;
}

#navbar .title:hover {
    transform: skewX(-10deg);
    border-bottom: 3px solid teal;
}

.nav-links {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
}

.nav-links a {
    font-size: 2rem;
    padding: 0 1rem;
}

.nav-links li a:hover {
    transform: skewX(-10deg);
    border-bottom: 3px solid teal;
}

.donate-link {
    background: #c1f7d5;
    border-radius: 10rem;
    padding: 1rem 3rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    opacity: 1;
}

.donate-link:hover {
    background-color: rgb(8, 95, 44);
    color: #fff;
}

/*##########################################
        Style for main
############################################*/

#main {
    width: 100%;
}

/* The  issue styke start */
.the-issue-section {
    height: 68rem;
    background: transparent url("../images/annie-spratt-135307-unsplash.png") 0% 0% no-repeat padding-box;
    opacity: 0.76;
    background-size: cover;
    background-color: #354463;
    /* width: 100%; */
}

.climate-change {
    display: flex;
    flex-flow: row wrap;
    justify-items: center;
    position: relative;
    width: 80%;
    margin: auto;
}

#the-issue-header {
    background-color: #000;
    position: absolute;
    top: -2rem;
    left: 13%;
    padding: 1rem 3rem;
    opacity: 1;
    z-index: 1;
}

#the-issue-header h3 {
    font-size: 1.3rem;
    font-weight: 100;
    letter-spacing: 0.1rem;
    color: #fff;
}

.climate-change-banner {
    background-color: #fff;
    color: #354463;
    width: 54.4rem;
    margin-top: 10rem;
    position: relative;
    padding-bottom: 7rem;
}

.climate-change-banner h1 {
    font-size: 4.4rem;
    text-align: left;
    font-weight: bold;
    margin-left: 4rem;
    padding: 5rem 2rem 2rem 2rem;
    opacity: 1;
}

.climate-change-banner a {
    font-size: 1.6rem;
    margin-left: 4rem;
    padding: 0 4rem 0rem 2rem;
    color: #354463;
    text-decoration: underline;
}

.climate-change-hashtag-img {
    margin-top: 12rem;
    height: 10%;
    /* width: 30%; */
    opacity: 1;
    margin-left: 10rem;
}

/* The  issue style end */

/* Take action start */

.take-action-section {
    background-color: #c1f7d5;
    color: #354463;
    width: 100%;
    margin-top: -1rem;
    position: relative;
}

#take-action-header {
    background-color: #000;
    position: absolute;
    margin-top: -2rem;
    left: 45%;
    padding: 1rem 3rem;
    opacity: 1;
    z-index: 1;
}

#take-action-header h3 {
    font-size: 1.3rem;
    font-weight: 100;
    letter-spacing: 0.1rem;
    color: #fff;
}

.action-lists {
    display: grid;
    grid-template-columns: repeat(4, 19%);
    gap: 2rem;
    justify-content: center;
}

.action-lists div {
    margin: 6rem 1rem;
    padding-top: 2rem;
}

.action-lists div h4 {
    font-size: 2.8rem;
    font-weight: bold;
}

.action-lists>div p {
    font-size: 1.8rem;
    font-weight: 100;
}

/* Take action end */

/* What we do style start */
.what-we-do-section {
    display: flex;
    flex-flow: column wrap;
    background-color: #354463;
    color: #fff;
    position: relative;
    padding: 5% 10%;
}

#what-we-do-header {
    background-color: #fff;
    color: #000;
    width: 17rem;
    opacity: 1;
}

#what-we-do-header h3 {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 100;
    letter-spacing: 0.1rem;
    padding: 1rem 2rem;
}

.what-we-do-mission {
    width: 100%;
    margin-top: 3rem;
}

.what-we-do-mission h1 {
    font-size: 4.4rem;
    font-weight: bold;
}

.mission-cards {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.mission-cards .card {
    width: 30%;
    background-color: #fff;
    color: #000;
    margin-top: 15rem;
    padding-bottom: 5rem;
    position: relative;
}

.mission-cards .card-1,
.mission-cards .card-2,
.mission-cards .card-3 {
    display: grid;
    grid-template-columns: 1fr;
}

.mission-cards div h2 {
    padding: 5rem 2rem 1rem 3rem;
    font-size: 2.8rem;
    text-align: left;
    color: #354463;
}

.mission-cards div p {
    padding: 0 2rem 3rem 3rem;
    font-size: 1.8rem;
    text-align: left;
    line-height: 1.5;
    color: #354463;
    letter-spacing: -0.16px;
}

.mission-cards .card a {
    margin: 3rem 6rem 2rem 3rem;
    width: 55%;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    background-color: #c1f7d5;
    color: #354463;
    border-radius: 10rem;
    padding: 1rem;
}

a.btn-read-more:hover {
    background-color: rgb(8, 95, 44);
    color: #fff;
}

.mission-cards .card img {
    width: 100%;
    background-size: cover;
    opacity: 1;
    margin-top: -4rem;
    margin-left: 4rem;
    z-index: 1;
    opacity: 1;
}

/* What we do style end */



/*######################################################
            Footer Styling
#######################################################*/

#footer {
    width: 100%;
    background-color: #fff;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: baseline;
    background-color: #fff;
    color: #354463;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 5rem;
}

.footer-header {
    width: 23rem;

}

.footer-header a:hover {
    transform: skewX(-10deg);
    border-bottom: 2px solid teal;
}


.footer-header h1 {
    font-size: 2.4rem;
    font-weight: bold;
    text-align: left;
    padding: 10rem 3rem;
}

.footer-hashtag {
    width: 20rem;
}

.footer-hashtag h2 {
    font-weight: normal;
    text-align: right;
    font-size: 4.4rem;
    font-family: flood std;
    color: #354463;
    line-height: 1.1;
}

.contact-us {
    width: 10%;
}

.footer-content div h4 {
    font-size: 1.4rem;
    text-align: left;
    letter-spacing: 0.056rem;
    text-transform: uppercase;
    font-weight: normal;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #354463;
    color: #354463;
}

.footer-content div a {
    font-size: 1.3rem;
    text-align: left;
    font-weight: 300;
    letter-spacing: -0.14px;
    text-transform: capitalize;
    color: #354463;
}

.footer-content div a:hover {
    border-bottom: 2px solid #354463;
}

.footer-content div address {
    display: block;
    font-size: 1.3rem;
    text-align: left;
    font-weight: 300;
    font-style: normal;
    letter-spacing: -0.14px;
    color: #354463;
}

/*####################################################
                Tablet View
#####################################################*/

@media screen and (max-width: 1200px) {

    #navbar .title {
        width: 16rem;
    }

    /*##################################
      Main section medium device styling
  ####################################*/
    .the-issue-section {
        height: 100vh;
        background: transparent url("../images/annie-spratt-135307-unsplash.png") 0% 0% no-repeat padding-box;
        opacity: 0.76;
        background-size: cover;
        background-color: #354463;

        /* width: 100%; */
    }

    .climate-change {
        display: flex;
        flex-flow: column-reverse wrap;
        justify-content: center;
    }

    #the-issue-header {
        background-color: #000;
        position: absolute;
        top: -2rem;
        left: 9%;
        padding: 1.5rem 5rem;
        opacity: 1;
        z-index: 1;
    }

    #the-issue-header h3 {
        font-size: 1.7rem;
        font-weight: 100;
        letter-spacing: 0.1rem;
        color: #fff;
    }

    .climate-change-banner {
        background-color: #fff;
        color: #354463;
        width: 100%;
        margin-top: 40rem;
        position: relative;
        padding-bottom: 7rem;
    }

    .climate-change-banner h1 {
        font-size: 4.2rem;
        text-align: left;
        font-weight: bold;
        padding: 5rem 5rem 2rem 4rem;
        opacity: 1;
    }

    .climate-change-banner a {
        font-size: 1.8rem;
        padding: 0 5rem 0rem 4rem;
        color: #354463;
        text-decoration: underline;
    }

    .climate-change-hashtag-img {
        margin-top: 12rem;
        margin-left: 0;
        height: 22vh;
        opacity: 1;
        position: absolute;
        top: 0;
        z-index: 1;
    }

    /* The  issue style end */

    /* Take action start */

    .take-action-section {
        background-color: #c1f7d5;
        color: #354463;
        width: 100%;
        margin-top: -1rem;
    }

    #take-action-header {
        background-color: #000;
        position: absolute;
        left: 40%;
        margin-top: -2rem;
        padding: 1.5rem 4rem;
        opacity: 1;
        z-index: 1;
    }

    #take-action-header h3 {
        font-size: 1.7rem;
        font-weight: 100;
        letter-spacing: 0.1rem;
        color: #fff;
    }

    .action-lists {
        display: grid;
        grid-template-columns: repeat(2, 40%);
        gap: 4rem;
        justify-content: center;
        z-index: 1;
        padding: 4rem 4rem;
    }

    .action-lists div {
        margin: 1rem;
    }

    .action-lists div h4 {
        font-size: 2.6rem;
        font-weight: bold;
    }

    .action-lists>div p {
        font-size: 2rem;
        font-weight: 100;
    }

    /* Take action end */

    /*################################
      What we do medium device style
  ##################################*/
    .what-we-do-section {
        display: flex;
        flex-flow: column wrap;
        background-color: #354463;
        color: #fff;
        position: relative;
        padding: 5% 10%;
    }

    #what-we-do-header {
        background-color: #fff;
        color: #000;
        width: 20rem;
        opacity: 1;
        padding: 0.5rem 1rem;
    }

    #what-we-do-header h3 {
        text-align: center;
        font-size: 1.7rem;
        font-weight: 100;
        letter-spacing: 0.1rem;
    }

    .what-we-do-mission {
        width: 100%;
        margin-top: 3rem;
    }

    .what-we-do-mission h1 {
        font-size: 4.4rem;
        font-weight: bold;
    }

    .mission-cards {
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
    }

    .mission-cards .card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 20% 5%;
        gap: 3rem;
        grid-template-areas:
            "img div"
            "link div";
        background-color: #fff;
        color: #000;
        margin-top: 12rem;
        padding-bottom: 9%;
        position: relative;
        width: 100%;
    }

    .mission-cards .card img {
        grid-area: img;
        width: 90%;
        background-size: cover;
        opacity: 1;
        margin-top: -4rem;
        margin-left: 3rem;
        z-index: 1;
        opacity: 1;
    }

    .mission-cards .card div {
        grid-area: div;
        padding-right: 3rem;
    }

    .mission-cards .card a {
        grid-area: link;
        position: absolute;
        /* right: 0; */
        font-size: 1.8rem;
        font-weight: bold;
        text-align: center;
        background-color: #c1f7d5;
        color: #354463;
        border-radius: 10rem;
        padding: 1rem;
        margin-bottom: 4rem;
    }

    .mission-cards .card-2,
    .mission-cards .card-3 {
        margin-left: 0;
    }

    .mission-cards div h2 {
        padding: 2.8rem;
        font-size: 2.8rem;
        text-align: left;
        color: #354463;
    }

    .mission-cards div p {
        padding: 0 2rem;
        font-size: 2rem;
        text-align: left;
        color: #354463;
        letter-spacing: -0.16px;
    }

    /*######################################################
            Footer Styling
#######################################################*/
    #footer {
        width: 100%;
        background-color: #fff;
    }

    .footer-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "footer-header contact-us social-links"
            ". links footer-hashtag";
        justify-content: space-around;
        justify-items: start;
        align-items: baseline;
        gap: 3rem;
        background-color: #fff;
        color: #354463;
        width: 80%;
        margin: 0 auto;
        padding-bottom: 5rem;
    }

    .footer-header {
        grid-area: footer-header;
        width: 25rem;
    }

    .contact-us {
        width: 100%;
        grid-area: contact-us;
    }

    .social-links {
        grid-area: social-links;
        width: 100%;
    }

    .links {
        grid-area: links;
        width: 100%;
    }

    .footer-hashtag {
        grid-area: footer-hashtag;
        width: 100%;
    }

    .footer-header h1 {
        font-size: 2.6rem;
        font-weight: bold;
        text-align: left;
        padding: 10rem 3rem;
    }

    .footer-hashtag h2 {
        font-weight: normal;
        text-align: right;
        font-size: 4.8rem;
        font-family: flood std;
        color: #354463;
        line-height: 1.1;
    }

    .footer-content div h4 {
        font-size: 1.8rem;
        text-align: left;
        letter-spacing: 0.056rem;
        text-transform: uppercase;
        font-weight: normal;
        padding-bottom: 0.5rem;
        border-bottom: none;
        margin-bottom: 1rem;
        color: #354463;
    }

    .footer-content div a {
        font-size: 1.6rem;
        text-align: left;
        font-weight: 300;
        letter-spacing: -0.14px;
        text-transform: capitalize;
        color: #354463;
    }

    .footer-content div a:hover {
        border-bottom: 2px solid #354463;
    }

    .footer-content div address {
        display: block;
        font-size: 1.6rem;
        text-align: left;
        font-weight: 300;
        font-style: normal;
        letter-spacing: -0.14px;
        color: #354463;
    }


}

/*###############################################
    Tablet or small-medium devices
##################################################*/
@media screen and (max-width: 980px) {

    /* Navigation bar Style */
    #navbar {
        display: grid;
        grid-template-columns: 1fr 30%;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "title donate-link"
            "nav-links donate-link";
        align-items: center;
        justify-content: space-between;
        padding: 4rem 0;
        width: 80%;
        margin: 0 auto;
    }

    #navbar .title {
        width: 17rem;
        grid-area: title;
    }

    .nav-links {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        grid-area: nav-links;
    }

    .nav-links a {
        font-size: 2rem;
        padding: 0 1rem;
    }

    .nav-links li a:hover {
        border-bottom: 4px solid teal;
    }

    .donate-link {
        background: #c1f7d5;
        border-radius: 10rem;
        padding: 1rem 1.5rem;
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        opacity: 1;
        grid-area: donate-link;
    }

    .the-issue-section {
        min-height: 100vh;
        background-color: #354463;
    }

    #the-issue-header h3 {
        font-size: 1.6rem;
        font-weight: 100;
        letter-spacing: 0.1rem;
        color: #fff;
    }

    .climate-change-banner h1 {
        font-size: 3rem;
        text-align: left;
        font-weight: bold;
        padding: 5rem 0rem 2rem 1rem;
        opacity: 1;
    }

    .climate-change-banner a {
        font-size: 1.8rem;
        padding: 0 0rem 0rem 1rem;
        color: #354463;
        text-decoration: underline;
    }

    .what-we-do-mission h1 {
        font-size: 4rem;
        font-weight: bold;
    }

    .mission-cards .card a {
        grid-area: link;
        position: absolute;
        /* right: 0; */
        font-size: 1.8rem;
        font-weight: bold;
        text-align: center;
        background-color: #c1f7d5;
        color: #354463;
        border-radius: 10rem;
        /* padding: 1rem; */
        margin-top: -4rem;
    }

}

/*###############################################
    Mobile or small-tablet devices
##################################################*/
@media screen and (max-width: 710px) {

    /* Navigation bar Style */
    #navbar {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "title nav-links"
            "donate-link donate-link";
        align-items: center;
        justify-content: space-between;
        padding: 4rem 0;
        width: 80%;
        margin: 0 auto;
    }

    #navbar .title {
        width: 17rem;
        grid-area: title;
    }

    .nav-links {
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        grid-area: nav-links;
    }

    .nav-links a {
        font-size: 2rem;
        padding: 0 1rem;
    }

    .nav-links li a:hover {
        border-bottom: 4px solid teal;
    }

    .donate-link {
        background: #c1f7d5;
        border-radius: 10rem;
        padding: 1rem 1.5rem;
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        opacity: 1;
        grid-area: donate-link;
    }

    /*##################################
      Main section medium device styling
  ####################################*/

    .the-issue-section {
        min-height: 105vh;
        background-color: #354463;
    }

    #the-issue-header {
        background-color: #000;
        /* position: absolute;
        top: -2rem;
        left: 9%; */
        padding: 1rem 4rem;
        /* opacity: 1;
        z-index: 1; */
    }

    #the-issue-header h3 {
        font-size: 1.6rem;
        font-weight: 100;
        letter-spacing: 0.1rem;
        color: #fff;
    }

    .climate-change-banner h1 {
        font-size: 2.8rem;
        text-align: left;
        font-weight: bold;
        padding: 5rem 0rem 2rem 0rem;
        opacity: 1;
    }

    .climate-change-banner a {
        font-size: 1.7rem;
        padding: 0 0rem 0rem 0rem;
        color: #354463;
        text-decoration: underline;
    }

    /* The  issue style end */

    /* Take action start */

    #take-action-header {
        background-color: #000;
        transform: translate(-30%);
        padding: 1rem 3rem;
        opacity: 1;
        z-index: 1;
    }

    #take-action-header h3 {
        font-size: 1.6rem;
        font-weight: 100;
        letter-spacing: 0.1rem;
        color: #fff;
    }

    .action-lists>div p {
        font-size: 1.8rem;
        font-weight: 100;
    }

    /* Take action end */

    /* What we do style start */
    .what-we-do-section {
        display: flex;
        flex-flow: column wrap;
        background-color: #354463;
        color: #fff;
        position: relative;
        padding: 5% 10%;
        align-items: center;
    }

    /*################################
      What we do medium device style
  ##################################*/
    .what-we-do-section {
        display: flex;
        flex-flow: column wrap;
        background-color: #354463;
        color: #fff;
        position: relative;
        padding: 5% 10%;
        align-items: center;
    }

    #what-we-do-header {
        background-color: #fff;
        color: #000;
        width: 20rem;
        opacity: 1;
        padding: 0rem 1rem;
    }

    #what-we-do-header h3 {
        text-align: center;
        font-size: 1.6rem;
        font-weight: 100;
        letter-spacing: 0.1rem;
    }

    .what-we-do-mission {
        width: 100%;
        margin-top: 3rem;
    }

    .what-we-do-mission h1 {
        font-size: 4rem;
        font-weight: bold;
    }

    .mission-cards {
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
    }

    .mission-cards .card {
        display: flex;
        flex-flow: column wrap;
        background-color: #fff;
        color: #000;
        margin-top: 12rem;
        padding-bottom: 9%;
    }

    .mission-cards .card img {
        margin: 0 auto;
        width: 80%;
        background-size: cover;
        opacity: 1;
        z-index: 1;
        margin-bottom: 5rem;
        margin-top: -4rem;
    }

    .mission-cards .card div {
        margin: 0 auto;
        width: 80%;
        margin-bottom: 5rem;
    }

    .mission-cards .card a {
        margin: 0 auto;
        width: 40%;
        position: relative;
        font-size: 1.8rem;
        font-weight: bold;
        text-align: center;
        background-color: #c1f7d5;
        color: #354463;
        border-radius: 10rem;
        padding: 1rem 0rem;
    }

    .mission-cards div h2 {
        font-size: 2.8rem;
        text-align: center;
        color: #354463;
    }

    .mission-cards div p {
        font-size: 2rem;
        text-align: center;
        color: #354463;
        letter-spacing: -0.16px;
    }

    /*######################################################
            Footer Styling
#######################################################*/
    #footer {
        width: 100%;
        background-color: #fff;
    }

    .footer-content {
        display: grid;
        grid-template-columns: 45% 45%;
        grid-template-areas:
            "footer-header contact-us"
            "social-links links"
            ". footer-hashtag";
        justify-content: space-around;
        justify-items: start;
        align-items: baseline;
        gap: 10%;
        background-color: #fff;
        color: #354463;
        width: 80%;
        margin: 0 auto;
        padding-bottom: 5rem;
    }

    .footer-header {
        grid-area: footer-header;
        width: 15rem;
    }

    .contact-us {
        width: 100%;
        grid-area: contact-us;
    }

    .social-links {
        grid-area: social-links;
        width: 100%;
    }

    .links {
        grid-area: links;
        width: 100%;
    }

    .footer-hashtag {
        grid-area: footer-hashtag;
        width: 100%;
        margin-top: -15rem;
        padding: 10rem 0;

    }

    .footer-header h1 {
        font-size: 2rem;
        font-weight: bold;
        text-align: left;
        padding: 10rem 0;
        margin-top: -5rem;
    }

    .footer-hashtag h2 {
        font-weight: normal;
        text-align: right;
        font-size: 3.6rem;
        font-family: flood std;
        color: #354463;
        line-height: 1.1;
    }

    .footer-content div h4 {
        font-size: 1.8rem;
        text-align: left;
        letter-spacing: 0.056rem;
        text-transform: uppercase;
        font-weight: normal;
        padding-bottom: 0.5rem;
        border-bottom: none;
        margin-bottom: 1rem;
        color: #354463;
    }

    .footer-content div a {
        font-size: 1.6rem;
        text-align: left;
        font-weight: 300;
        letter-spacing: -0.14px;
        text-transform: capitalize;
        color: #354463;
    }

    .footer-content div a:hover {
        border-bottom: 2px solid #354463;
    }

    .footer-content div address {
        display: block;
        font-size: 1.6rem;
        text-align: left;
        font-weight: 300;
        font-style: normal;
        letter-spacing: -0.14px;
        color: #354463;
    }
}




@media screen and (max-width: 460px) {

    /* Navigation bar Style */
    #navbar {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "title nav-links"
            "donate-link donate-link";
        align-items: center;
        justify-content: space-between;
        padding: 4rem 0;
        width: 80%;
        margin: 0 auto;
    }

    #navbar .title {
        width: 17rem;
        grid-area: title;
    }

    .nav-links {
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        grid-area: nav-links;
    }

    .nav-links a {
        font-size: 1.6rem;
        padding: 0 1rem;
    }

    .nav-links li a:hover {
        border-bottom: 4px solid teal;
    }

    .donate-link {
        background: #c1f7d5;
        border-radius: 10rem;
        padding: 1rem 1.5rem;
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        opacity: 1;
        grid-area: donate-link;
    }

    /*##################################
      Main section medium device styling
  ####################################*/

    .the-issue-section {
        min-height: 120vh;
        background-color: #354463;
    }

    #the-issue-header {
        background-color: #000;
        position: absolute;
        top: -2rem;
        left: 9%;
        padding: 1rem 3rem;
        opacity: 1;
        z-index: 1;
    }

    #the-issue-header h3 {
        font-size: 1.2rem;
        font-weight: 100;
        letter-spacing: 0.1rem;
        color: #fff;
    }

    .climate-change-banner h1 {
        font-size: 2.6rem;
        text-align: left;
        font-weight: bold;
        padding: 4rem 2rem 2rem 0rem;
        opacity: 1;
    }

    .climate-change-banner a {
        font-size: 1.7rem;
        padding: 0 2rem 0 0;
        color: #354463;
        text-decoration: underline;
    }

    /* The  issue style end */

    /* Take action start */

    #take-action-header {
        background-color: #000;
        transform: translate(-30%);
        padding: 1rem 3rem;
        opacity: 1;
        z-index: 1;
    }

    #take-action-header h3 {
        font-size: 1.2rem;
        font-weight: 100;
        letter-spacing: 0.1rem;
        color: #fff;
    }

    .action-lists div h4 {
        font-size: 2.2rem;
        font-weight: bold;
    }

    .action-lists>div p {
        font-size: 1.6rem;
        font-weight: 100;
    }

    /* Take action end */

    /* What we do style start */
    .what-we-do-section {
        display: flex;
        flex-flow: column wrap;
        background-color: #354463;
        color: #fff;
        position: relative;
        padding: 5% 10%;
        align-items: center;
    }

    /*################################
      What we do medium device style
  ##################################*/
    .what-we-do-section {
        display: flex;
        flex-flow: column wrap;
        background-color: #354463;
        color: #fff;
        position: relative;
        padding: 5% 10%;
        align-items: center;
    }

    #what-we-do-header {
        background-color: #fff;
        color: #000;
        width: 18rem;
        opacity: 1;
        padding: 0rem 1rem;
    }

    #what-we-do-header h3 {
        text-align: center;
        font-size: 1.4rem;
        font-weight: 100;
        letter-spacing: 0.1rem;
    }

    .what-we-do-mission {
        width: 100%;
        margin-top: 3rem;
    }

    .what-we-do-mission h1 {
        font-size: 3rem;
        font-weight: bold;
        text-align: left;
    }

    .mission-cards {
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
    }

    .mission-cards .card {
        display: flex;
        flex-flow: column wrap;
        background-color: #fff;
        color: #000;
        margin-top: 12rem;
        padding-bottom: 9%;
    }

    .mission-cards .card img {
        margin: 0 auto;
        width: 80%;
        background-size: cover;
        opacity: 1;
        z-index: 1;
        margin-bottom: 5rem;
        margin-top: -4rem;
    }

    .mission-cards .card div {
        margin: 0 auto;
        width: 80%;
        margin-bottom: 5rem;
    }

    .mission-cards .card a {
        margin: 0 auto;
        width: 40%;
        position: relative;
        font-size: 1.8rem;
        font-weight: bold;
        text-align: center;
        background-color: #c1f7d5;
        color: #354463;
        border-radius: 10rem;
        padding: 1rem 0rem;
    }

    .mission-cards div h2 {
        font-size: 2.8rem;
        text-align: center;
        color: #354463;
    }

    .mission-cards div p {
        font-size: 2rem;
        text-align: center;
        color: #354463;
        letter-spacing: -0.16px;
    }

    /*######################################################
            Footer Styling
#######################################################*/
    #footer {
        width: 100%;
        background-color: #fff;
    }

    .footer-content {
        display: grid;
        grid-template-columns: 45% 45%;
        grid-template-areas:
            "footer-header contact-us"
            "social-links links"
            ". footer-hashtag";
        justify-content: space-around;
        justify-items: start;
        align-items: baseline;
        gap: 10%;
        background-color: #fff;
        color: #354463;
        width: 80%;
        margin: 0 auto;
        padding-bottom: 5rem;
    }

    .footer-header {
        grid-area: footer-header;
        width: 14rem;
    }

    .contact-us {
        width: 100%;
        grid-area: contact-us;
    }

    .social-links {
        grid-area: social-links;
        width: 100%;
    }

    .links {
        grid-area: links;
        width: 100%;
    }

    .footer-hashtag {
        grid-area: footer-hashtag;
        /* width: 100%; */
        margin-top: -15rem;
        padding: 10rem 0;
        margin-left: -10rem;
        width: 17rem;
        margin-bottom: 10rem;

    }

    .footer-hashtag h2 {
        font-weight: normal;
        text-align: right;
        font-size: 3.4rem;
        font-family: flood std;
        color: #354463;
        line-height: 1.1;
    }

    .footer-header h1 {
        font-size: 2rem;
        font-weight: bold;
        text-align: left;
        padding: 10rem 0;
        margin-top: -5rem;
    }


    .footer-content div h4 {
        font-size: 1.3rem;
        text-align: left;
        letter-spacing: 0.056rem;
        text-transform: uppercase;
        font-weight: normal;
        padding-bottom: 0.5rem;
        border-bottom: none;
        margin-bottom: 1rem;
        color: #354463;
    }

    .footer-content div a {
        font-size: 1.2rem;
        text-align: left;
        font-weight: 300;
        letter-spacing: -0.14px;
        text-transform: capitalize;
        color: #354463;
    }

    .footer-content div a:hover {
        border-bottom: 2px solid #354463;
    }

    .footer-content div address {
        display: block;
        font-size: 1.2rem;
        text-align: left;
        font-weight: 300;
        font-style: normal;
        letter-spacing: -0.14px;
        color: #354463;
    }
}
